table {
  border: 3px solid black;
}
td {
  text-align: center;
}
th {
  font-size: 12px;
}

.stroka {
  background-color: bisque;
}

tbody tr th:nth-child(3) {
  background-color: black;
}


.result {
  padding: 60px;
  background-color: rgb(83, 115, 197);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}